.plyr {
    --shadow-color: 197deg 32% 65%;
    border-radius: 12px;
    box-shadow: 0 0.5px 0.6px hsl(var(--shadow-color)/.36),0 1.7px 1.9px -0.8px hsl(var(--shadow-color)/.36),0 4.3px 4.8px -1.7px hsl(var(--shadow-color)/.36),-0.1px 10.6px 11.9px -2.5px hsl(var(--shadow-color)/.36);
    margin: 16px auto;
}

.plyr__menu__container .plyr__control > span {
    font-weight: 600;
}